#grid-container {
    display: grid;
    background-color: rgb(209, 208, 208);
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    border-color: black;
    border: solid;
    border-width: 2px;
    margin: auto;
}

.square {
    background-color: grey;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    height: 2em;
    width: 15%;
}

#title {
    text-align: center;
    font-size: xxx-large;
}