#grid-container {
    display: grid;
    background-color: black;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    border-color: black;
    border: solid;
    border-width: 2px
}

.square {
    background-color: blue;
}
